@import "src/common/styles/vars";

.test {
  border: 0.1rem solid $color-dark-swamp;
  border-radius: 0.2rem;
  padding: 1.5rem;
  font-size: 1.2rem;
}

.test input[type=radio] {
  display: none;
}

.test .next-button {
  border: 0.1rem solid $color-dark-swamp;
  width: 100%;
  padding: 0.1rem;
  text-align: center;
  font-size: 1rem;
}
