@media only screen and (max-width: 767px) {
	.translation-table > tbody > tr > td {
		padding: 1.5rem 0.5rem 1.5rem 0.5rem;
		font-size: 0.9rem;
	}

	.translation-table > tbody > tr > th {
		padding-right: 0.5rem;
	}
}

@media only screen and (max-width: 575px) {
	.translation-table > tbody > tr > td {
		padding: 1.2rem .5rem 1.2rem .5rem;
		font-size: 0.8rem;
	}

	.translation-table > tbody > tr > th {
		display: none;
	}
}
