$color-light-sky: #A3C7C7;
$color-black-blue: #0F111A;
$color-dark-swamp: #223C41;
$color-light-blue: #84FFFF;
$color-black-navy: #0A0B11;
$color-dark-green: #132b15;
$color-dark-red: #22090F;
$color-light-red: #9E2927;
$color-light-green: #499C54;
