@import "../../../node_modules/bootstrap/scss/bootstrap";
@import 'vars';

body {
  margin: 0;
  background-color: #0F111A !important;
  color: #A3C7C7 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #A3C7C7 !important;
  text-decoration: none !important;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.table {
  color: $color-light-sky !important;
}

@media only screen and (max-width: 991px) {
  .container-lg {
    padding: 0 !important;
  }

  body {
    background-color: $color-black-navy !important;
  }
}
