html,
body {
    @apply h-full;
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'Open Sans';
	src: url('/fonts/OpenSans-Light.ttf');
	font-display: swap;
}

.align-middle {
    vertical-align: middle;
}
