@import "src/common/styles/vars";

.translation-row {
  border-width: 0.1rem 0 0 0;
  border-color: $color-dark-swamp;

  td {
    padding: 1.5rem;
  }

  th {
    padding: 1.5rem;
  }
}

@media only screen and (max-width: 767px) {
  .translation-row {
    td {
      padding: 1.5rem 0.5rem 1.5rem 0.5rem;
      font-size: 0.9rem;
    }

    th {
      padding-right: 0.5rem;
    }
  }
}

@media only screen and (max-width: 575px) {
  .translation-row {
    td {
      padding: 1.2rem .5rem 1.2rem .5rem;
      font-size: 0.8rem;
    }

    th {
      display: none;
    }
  }
}
